[submodule "the_parser"]
	path = the_parser
	url = git@github.com:hamon-e/the_parser
[submodule "opt_parser"]
	path = opt_parser
	url = git@github.com:hamon-e/opt_parser
[submodule "tools"]
	path = tools
	url = git@github.com:hamon-e/tools
